@import 'variablesPartials';
@import 'basePartials';


@mixin reset-list($margin, $padding, $style) {
    margin: $margin;
    padding: $padding;
    list-style: $style;
}

/*##### CONTAINER #####*/
.container{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;

  .box{
    padding: 20px;
    width: 33%;
    color: black;
    background-color: white;
    border-radius: 8px;
    
    &.active{
      background: $color-secondary;
    }

    h2{

      font-family: $font-primary;
      font: {
        size: 30px;
        weight: bold;
        
      }

      margin: {
        top: 10px;
        left: 20px;
        right: 30px;
        bottom: 22px;
      }
    }

    p {
      font-size: 18px;
      font-family: $font-secondary;

      &.hidden{
        display: none;
      }
    }

    ul{
      @include reset-list(100px, 10px, square);
    }

    a{
      color: green;

      &:hover{
       color: springgreen;

       & + p.hidden{
         display: block;
       }
      }
    }
  } /*box*/
}/*container*/